We are building a Movie Recommendation System with user ratings. 

There will be two parts in this project:
- Part 1: the user gives his/ her favorite movie name, then we recommend other movies that he/ she might like
- Part 2: given the user id, we recommend movies based on past user ratings

Please feel free to try it at the end of this notebook!

In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

# import warnings
# warnings.simplefilter(action = 'ignore', category = FutureWarning)

## Data Collection and Pre-Processing

In [2]:
# loading the dataset
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
# number of ratings
n_ratings = len(ratings)
n_ratings

100836

In [8]:
# number of unique movies in the ratings
n_movies = len(ratings['movieId'].unique())
n_movies

9724

In [9]:
# number of unique movies in the movies
num_movies = len(movies['movieId'].unique())
num_movies

9742

In [10]:
# number of users in the ratings
n_users = len(ratings['userId'].unique())
n_users

610

## Exploratory Data Analysis

In [11]:
# average number of ratings per user
round(n_ratings/n_users, 2)

165.3

In [13]:
# average number of ratings per movie
round(n_ratings/n_movies, 2)

10.37

In [17]:
# calculate user rating frequency
user_freq = ratings[['userId', 'movieId']].groupby('userId').count().reset_index()
user_freq.columns = ['userId', 'n_ratings']
user_freq.head()

   userId  n_ratings
0       1        232
1       2         29
2       3         39
3       4        216
4       5         44

In [26]:
# find lowest and highest rated movies
mean_rating = ratings.groupby('movieId')[['rating']].mean()

mean_rating.head()

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429

In [27]:
# lowest rated movies
lowest_rated = mean_rating['rating'].idxmin()
movies.loc[movies['movieId'] == lowest_rated]

      movieId         title   genres
2689     3604  Gypsy (1962)  Musical

In [20]:
# highest rated movies
highest_rated = mean_rating['rating'].idxmax()
movies.loc[movies['movieId'] == highest_rated]

    movieId            title           genres
48       53  Lamerica (1994)  Adventure|Drama

In [21]:
# show the users who rated the lowest rated movie
ratings[ratings['movieId'] == lowest_rated]

       userId  movieId  rating   timestamp
13633      89     3604     0.5  1520408880

In [22]:
# show the users who rated the highest rated movie
ratings[ratings['movieId'] == highest_rated]

       userId  movieId  rating  timestamp
13368      85       53     5.0  889468268
96115     603       53     5.0  963180003

In [25]:
# the above movies hve a very low dataset.
# We'll use Bayesian average
movie_stats = ratings.groupby('movieId')[['rating']].agg(['count', 'mean'])
movie_stats.columns = movie_stats.columns.droplevel()
movie_stats

         count      mean
movieId
1          215  3.920930
2          110  3.431818
3           52  3.259615
4            7  2.357143
5           49  3.071429
...        ...       ...
193581       1  4.000000
193583       1  3.500000
193585       1  3.500000
193587       1  3.500000
193609       1  4.000000

[9724 rows x 2 columns]

## Feature Engineering

In [28]:
# Now let's create user-item matrix using scipy csr matrix
from scipy.sparse import csr_matrix

Compressed Sparse Row matrix:

*Advantages of the CSR format*: 
- efficient arithmetic operations CSR + CSR, CSR * CSR, etc.
- efficient row slicing
- fast matrix vector products

*Disadvantages of the CSR format*: 
- slow column slicing operations (consider CSC)
- changes to the sparsity structure are expensive (consider LIL or DOK)

In [30]:
def create_matrix(df):
    N = len(df['userId'].unique())
    M = len(df['movieId'].unique())
    
    # map Ids to indices
    user_mapper = dict(zip(np.unique(df['userId']), list(range(N))))
    movie_mapper = dict(zip(np.unique(df['movieId']), list(range(M))))
    
    # map indices to Ids
    user_inv_mapper = dict(zip(list(range(N)), np.unique(df["userId"])))
    movie_inv_mapper = dict(zip(list(range(M)), np.unique(df["movieId"])))
      
    user_index = [user_mapper[i] for i in df['userId']]
    movie_index = [movie_mapper[i] for i in df['movieId']]
  
    X = csr_matrix((df["rating"], (movie_index, user_index)), shape=(M, N))
      
    return X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper

In [31]:
X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper = create_matrix(ratings)

In [33]:
print(X)

  (0, 0)	4.0
  (0, 4)	4.0
  (0, 6)	4.5
  (0, 14)	2.5
  (0, 16)	4.5
  (0, 17)	3.5
  (0, 18)	4.0
  (0, 20)	3.5
  (0, 26)	3.0
  (0, 30)	5.0
  (0, 31)	3.0
  (0, 32)	3.0
  (0, 39)	5.0
  (0, 42)	5.0
  (0, 43)	3.0
  (0, 44)	4.0
  (0, 45)	5.0
  (0, 49)	3.0
  (0, 53)	3.0
  (0, 56)	5.0
  (0, 62)	5.0
  (0, 63)	4.0
  (0, 65)	4.0
  (0, 67)	2.5
  (0, 70)	5.0
  :	:
  (9700, 337)	2.5
  (9701, 337)	3.0
  (9702, 183)	4.0
  (9702, 247)	3.5
  (9703, 317)	2.5
  (9704, 209)	1.0
  (9705, 461)	2.5
  (9706, 49)	3.5
  (9707, 337)	1.5
  (9708, 337)	4.0
  (9709, 337)	1.0
  (9710, 337)	1.5
  (9711, 337)	1.0
  (9712, 337)	1.0
  (9713, 183)	4.5
  (9714, 183)	3.5
  (9715, 183)	3.0
  (9716, 183)	4.0
  (9717, 183)	4.0
  (9718, 183)	3.5
  (9719, 183)	4.0
  (9720, 183)	3.5
  (9721, 183)	3.5
  (9722, 183)	3.5
  (9723, 330)	4.0

## Model Training

In [38]:
from sklearn.neighbors import NearestNeighbors

In [43]:
# find similar movies using KNN
def find_similar_movies(movie_id, X, k, metric='cosine', show_distance=False):
      
    neighbour_ids = []
      
    movie_ind = movie_mapper[movie_id]
    movie_vec = X[movie_ind]
    k += 1
    kNN = NearestNeighbors(n_neighbors=k, algorithm="brute", metric=metric)
    kNN.fit(X)
    movie_vec = movie_vec.reshape(1,-1)
    neighbour = kNN.kneighbors(movie_vec, return_distance = show_distance)
    for i in range(0,k):
        n = neighbour.item(i)
        neighbour_ids.append(movie_inv_mapper[n])
    neighbour_ids.pop(0)
    return neighbour_ids

In [48]:
movie_titles = dict(zip(movies['movieId'], movies['title']))
movie_titles

{1: 'Toy Story (1995)',
 2: 'Jumanji (1995)',
 3: 'Grumpier Old Men (1995)',
 4: 'Waiting to Exhale (1995)',
 5: 'Father of the Bride Part II (1995)',
 6: 'Heat (1995)',
 7: 'Sabrina (1995)',
 8: 'Tom and Huck (1995)',
 9: 'Sudden Death (1995)',
 10: 'GoldenEye (1995)',
 11: 'American President, The (1995)',
 12: 'Dracula: Dead and Loving It (1995)',
 13: 'Balto (1995)',
 14: 'Nixon (1995)',
 15: 'Cutthroat Island (1995)',
 16: 'Casino (1995)',
 17: 'Sense and Sensibility (1995)',
 18: 'Four Rooms (1995)',
 19: 'Ace Ventura: When Nature Calls (1995)',
 20: 'Money Train (1995)',
 21: 'Get Shorty (1995)',
 22: 'Copycat (1995)',
 23: 'Assassins (1995)',
 24: 'Powder (1995)',
 25: 'Leaving Las Vegas (1995)',
 26: 'Othello (1995)',
 27: 'Now and Then (1995)',
 28: 'Persuasion (1995)',
 29: 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 30: 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 31: 'Dangerous Minds (1995)',
 32: 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 34: 'Babe (1995)',
 36: 'Dead Man Walking (1995)',
 38: 'It Takes Two (1995)',
 39: 'Clueless (1995)',
 40: 'Cry, the Beloved Country (1995)',
 41: 'Richard III (1995)',
 42: 'Dead Presidents (1995)',
 43: 'Restoration (1995)',
 44: 'Mortal Kombat (1995)',
 45: 'To Die For (1995)',
 46: 'How to Make an American Quilt (1995)',
 47: 'Seven (a.k.a. Se7en) (1995)',
 48: 'Pocahontas (1995)',
 49: 'When Night Is Falling (1995)',
 50: 'Usual Suspects, The (1995)',
 52: 'Mighty Aphrodite (1995)',
 53: 'Lamerica (1994)',
 54: 'Big Green, The (1995)',
 55: 'Georgia (1995)',
 57: 'Home for the Holidays (1995)',
 58: 'Postman, The (Postino, Il) (1994)',
 60: 'Indian in the Cupboard, The (1995)',
 61: 'Eye for an Eye (1996)',
 62: "Mr. Holland's Opus (1995)",
 63: "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
 64: 'Two if by Sea (1996)',
 65: 'Bio-Dome (1996)',
 66: 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 68: 'French Twist (Gazon maudit) (1995)',
 69: 'Friday (1995)',
 70: 'From Dusk Till Dawn (1996)',
 71: 'Fair Game (1995)',
 72: 'Kicking and Screaming (1995)',
 73: 'Misérables, Les (1995)',
 74: 'Bed of Roses (1996)',
 75: 'Big Bully (1996)',
 76: 'Screamers (1995)',
 77: 'Nico Icon (1995)',
 78: 'Crossing Guard, The (1995)',
 79: 'Juror, The (1996)',
 80: 'White Balloon, The (Badkonake sefid) (1995)',
 81: "Things to Do in Denver When You're Dead (1995)",
 82: "Antonia's Line (Antonia) (1995)",
 83: 'Once Upon a Time... When We Were Colored (1995)',
 85: 'Angels and Insects (1995)',
 86: 'White Squall (1996)',
 87: 'Dunston Checks In (1996)',
 88: 'Black Sheep (1996)',
 89: 'Nick of Time (1995)',
 92: 'Mary Reilly (1996)',
 93: 'Vampire in Brooklyn (1995)',
 94: 'Beautiful Girls (1996)',
 95: 'Broken Arrow (1996)',
 96: 'In the Bleak Midwinter (1995)',
 97: 'Hate (Haine, La) (1995)',
 99: 'Heidi Fleiss: Hollywood Madam (1995)',
 100: 'City Hall (1996)',
 101: 'Bottle Rocket (1996)',
 102: 'Mr. Wrong (1996)',
 103: 'Unforgettable (1996)',
 104: 'Happy Gilmore (1996)',
 105: 'Bridges of Madison County, The (1995)',
 106: 'Nobody Loves Me (Keiner liebt mich) (1994)',
 107: 'Muppet Treasure Island (1996)',
 108: 'Catwalk (1996)',
 110: 'Braveheart (1995)',
 111: 'Taxi Driver (1976)',
 112: 'Rumble in the Bronx (Hont faan kui) (1995)',
 113: 'Before and After (1996)',
 116: 'Anne Frank Remembered (1995)',
 117: "Young Poisoner's Handbook, The (1995)",
 118: 'If Lucy Fell (1996)',
 119: 'Steal Big, Steal Little (1995)',
 121: 'Boys of St. Vincent, The (1992)',
 122: 'Boomerang (1992)',
 123: 'Chungking Express (Chung Hing sam lam) (1994)',
 125: 'Flirting With Disaster (1996)',
 126: 'NeverEnding Story III, The (1994)',
 128: "Jupiter's Wife (1994)",
 129: 'Pie in the Sky (1996)',
 132: 'Jade (1995)',
 135: 'Down Periscope (1996)',
 137: 'Man of the Year (1995)',
 140: 'Up Close and Personal (1996)',
 141: 'Birdcage, The (1996)',
 144: 'Brothers McMullen, The (1995)',
 145: 'Bad Boys (1995)',
 146: 'Amazing Panda Adventure, The (1995)',
 147: 'Basketball Diaries, The (1995)',
 148: 'Awfully Big Adventure, An (1995)',
 149: 'Amateur (1994)',
 150: 'Apollo 13 (1995)',
 151: 'Rob Roy (1995)',
 152: 'Addiction, The (1995)',
 153: 'Batman Forever (1995)',
 154: 'Beauty of the Day (Belle de jour) (1967)',
 155: 'Beyond Rangoon (1995)',
 156: 'Blue in the Face (1995)',
 157: 'Canadian Bacon (1995)',
 158: 'Casper (1995)',
 159: 'Clockers (1995)',
 160: 'Congo (1995)',
 161: 'Crimson Tide (1995)',
 162: 'Crumb (1994)',
 163: 'Desperado (1995)',
 164: 'Devil in a Blue Dress (1995)',
 165: 'Die Hard: With a Vengeance (1995)',
 166: 'Doom Generation, The (1995)',
 168: 'First Knight (1995)',
 169: 'Free Willy 2: The Adventure Home (1995)',
 170: 'Hackers (1995)',
 171: 'Jeffrey (1995)',
 172: 'Johnny Mnemonic (1995)',
 173: 'Judge Dredd (1995)',
 174: 'Jury Duty (1995)',
 175: 'Kids (1995)',
 176: 'Living in Oblivion (1995)',
 177: 'Lord of Illusions (1995)',
 178: 'Love & Human Remains (1993)',
 179: 'Mad Love (1995)',
 180: 'Mallrats (1995)',
 181: 'Mighty Morphin Power Rangers: The Movie (1995)',
 183: 'Mute Witness (1994)',
 184: 'Nadja (1994)',
 185: 'Net, The (1995)',
 186: 'Nine Months (1995)',
 187: 'Party Girl (1995)',
 188: 'Prophecy, The (1995)',
 189: 'Reckless (1995)',
 190: 'Safe (1995)',
 191: 'Scarlet Letter, The (1995)',
 193: 'Showgirls (1995)',
 194: 'Smoke (1995)',
 195: 'Something to Talk About (1995)',
 196: 'Species (1995)',
 198: 'Strange Days (1995)',
 199: 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 201: 'Three Wishes (1995)',
 202: 'Total Eclipse (1995)',
 203: 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 204: 'Under Siege 2: Dark Territory (1995)',
 205: 'Unstrung Heroes (1995)',
 206: 'Unzipped (1995)',
 207: 'Walk in the Clouds, A (1995)',
 208: 'Waterworld (1995)',
 209: "White Man's Burden (1995)",
 210: 'Wild Bill (1995)',
 211: 'Browning Version, The (1994)',
 212: 'Bushwhacked (1995)',
 213: 'Burnt by the Sun (Utomlyonnye solntsem) (1994)',
 214: 'Before the Rain (Pred dozhdot) (1994)',
 215: 'Before Sunrise (1995)',
 216: 'Billy Madison (1995)',
 217: 'Babysitter, The (1995)',
 218: 'Boys on the Side (1995)',
 219: 'Cure, The (1995)',
 220: 'Castle Freak (1995)',
 222: 'Circle of Friends (1995)',
 223: 'Clerks (1994)',
 224: 'Don Juan DeMarco (1995)',
 225: 'Disclosure (1994)',
 227: 'Drop Zone (1994)',
 228: 'Destiny Turns on the Radio (1995)',
 229: 'Death and the Maiden (1994)',
 230: 'Dolores Claiborne (1995)',
 231: 'Dumb & Dumber (Dumb and Dumber) (1994)',
 232: 'Eat Drink Man Woman (Yin shi nan nu) (1994)',
 233: 'Exotica (1994)',
 234: 'Exit to Eden (1994)',
 235: 'Ed Wood (1994)',
 236: 'French Kiss (1995)',
 237: 'Forget Paris (1995)',
 238: 'Far From Home: The Adventures of Yellow Dog (1995)',
 239: 'Goofy Movie, A (1995)',
 240: 'Hideaway (1995)',
 241: 'Fluke (1995)',
 242: 'Farinelli: il castrato (1994)',
 243: 'Gordy (1995)',
 246: 'Hoop Dreams (1994)',
 247: 'Heavenly Creatures (1994)',
 248: 'Houseguest (1994)',
 249: 'Immortal Beloved (1994)',
 250: 'Heavyweights (Heavy Weights) (1995)',
 251: 'Hunted, The (1995)',
 252: 'I.Q. (1994)',
 253: 'Interview with the Vampire: The Vampire Chronicles (1994)',
 254: 'Jefferson in Paris (1995)',
 255: 'Jerky Boys, The (1995)',
 256: 'Junior (1994)',
 257: 'Just Cause (1995)',
 258: "Kid in King Arthur's Court, A (1995)",
 259: 'Kiss of Death (1995)',
 260: 'Star Wars: Episode IV - A New Hope (1977)',
 261: 'Little Women (1994)',
 262: 'Little Princess, A (1995)',
 263: 'Ladybird Ladybird (1994)',
 265: 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 266: 'Legends of the Fall (1994)',
 267: 'Major Payne (1995)',
 269: 'My Crazy Life (Mi vida loca) (1993)',
 270: 'Love Affair (1994)',
 271: 'Losing Isaiah (1995)',
 272: 'Madness of King George, The (1994)',
 273: "Mary Shelley's Frankenstein (Frankenstein) (1994)",
 274: 'Man of the House (1995)',
 275: 'Mixed Nuts (1994)',
 276: 'Milk Money (1994)',
 277: 'Miracle on 34th Street (1994)',
 278: 'Miami Rhapsody (1995)',
 279: 'My Family (1995)',
 280: 'Murder in the First (1995)',
 281: "Nobody's Fool (1994)",
 282: 'Nell (1994)',
 283: 'New Jersey Drive (1995)',
 284: 'New York Cop (Nyû Yôku no koppu) (1993)',
 285: 'Beyond Bedlam (1993)',
 287: 'Nina Takes a Lover (1994)',
 288: 'Natural Born Killers (1994)',
 289: 'Only You (1994)',
 290: 'Once Were Warriors (1994)',
 291: 'Poison Ivy II (1996)',
 292: 'Outbreak (1995)',
 293: 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 294: 'Perez Family, The (1995)',
 295: "Pyromaniac's Love Story, A (1995)",
 296: 'Pulp Fiction (1994)',
 298: 'Pushing Hands (Tui shou) (1992)',
 299: 'Priest (1994)',
 300: 'Quiz Show (1994)',
 301: 'Picture Bride (Bijo photo) (1994)',
 302: 'Queen Margot (Reine Margot, La) (1994)',
 303: 'Quick and the Dead, The (1995)',
 304: 'Roommates (1995)',
 305: 'Ready to Wear (Pret-A-Porter) (1994)',
 306: 'Three Colors: Red (Trois couleurs: Rouge) (1994)',
 307: 'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
 308: 'Three Colors: White (Trzy kolory: Bialy) (1994)',
 310: 'Rent-a-Kid (1995)',
 311: 'Relative Fear (1994)',
 312: 'Stuart Saves His Family (1995)',
 313: 'Swan Princess, The (1994)',
 314: 'Secret of Roan Inish, The (1994)',
 315: 'Specialist, The (1994)',
 316: 'Stargate (1994)',
 317: 'Santa Clause, The (1994)',
 318: 'Shawshank Redemption, The (1994)',
 319: 'Shallow Grave (1994)',
 320: 'Suture (1993)',
 321: 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 322: 'Swimming with Sharks (1995)',
 324: 'Sum of Us, The (1994)',
 325: "National Lampoon's Senior Trip (1995)",
 326: 'To Live (Huozhe) (1994)',
 327: 'Tank Girl (1995)',
 328: 'Tales from the Crypt Presents: Demon Knight (1995)',
 329: 'Star Trek: Generations (1994)',
 330: 'Tales from the Hood (1995)',
 331: 'Tom & Viv (1994)',
 332: 'Village of the Damned (1995)',
 333: 'Tommy Boy (1995)',
 334: 'Vanya on 42nd Street (1994)',
 335: 'Underneath (1995)',
 336: 'Walking Dead, The (1995)',
 337: "What's Eating Gilbert Grape (1993)",
 338: 'Virtuosity (1995)',
 339: 'While You Were Sleeping (1995)',
 340: 'War, The (1994)',
 341: 'Double Happiness (1994)',
 342: "Muriel's Wedding (1994)",
 343: 'Baby-Sitters Club, The (1995)',
 344: 'Ace Ventura: Pet Detective (1994)',
 345: 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 346: 'Backbeat (1993)',
 347: 'Bitter Moon (1992)',
 348: 'Bullets Over Broadway (1994)',
 349: 'Clear and Present Danger (1994)',
 350: 'Client, The (1994)',
 351: 'Corrina, Corrina (1994)',
 352: 'Crooklyn (1994)',
 353: 'Crow, The (1994)',
 354: 'Cobb (1994)',
 355: 'Flintstones, The (1994)',
 356: 'Forrest Gump (1994)',
 357: 'Four Weddings and a Funeral (1994)',
 358: 'Higher Learning (1995)',
 359: 'I Like It Like That (1994)',
 360: 'I Love Trouble (1994)',
 361: 'It Could Happen to You (1994)',
 362: 'Jungle Book, The (1994)',
 363: 'Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)',
 364: 'Lion King, The (1994)',
 365: 'Little Buddha (1993)',
 366: "Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)",
 367: 'Mask, The (1994)',
 368: 'Maverick (1994)',
 369: 'Mrs. Parker and the Vicious Circle (1994)',
 370: 'Naked Gun 33 1/3: The Final Insult (1994)',
 371: 'Paper, The (1994)',
 372: 'Reality Bites (1994)',
 373: 'Red Rock West (1992)',
 374: 'Richie Rich (1994)',
 376: 'River Wild, The (1994)',
 377: 'Speed (1994)',
 378: 'Speechless (1994)',
 379: 'Timecop (1994)',
 380: 'True Lies (1994)',
 381: 'When a Man Loves a Woman (1994)',
 382: 'Wolf (1994)',
 383: 'Wyatt Earp (1994)',
 384: 'Bad Company (1995)',
 385: 'Man of No Importance, A (1994)',
 386: 'S.F.W. (1994)',
 387: 'Low Down Dirty Shame, A (1994)',
 388: 'Boys Life (1995)',
 389: 'Colonel Chabert, Le (1994)',
 390: 'Faster Pussycat! Kill! Kill! (1965)',
 391: "Jason's Lyric (1994)",
 393: 'Street Fighter (1994)',
 405: 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
 406: 'Federal Hill (1994)',
 407: 'In the Mouth of Madness (1995)',
 408: '8 Seconds (1994)',
 409: 'Above the Rim (1994)',
 410: 'Addams Family Values (1993)',
 412: 'Age of Innocence, The (1993)',
 413: 'Airheads (1994)',
 414: 'Air Up There, The (1994)',
 415: 'Another Stakeout (1993)',
 416: 'Bad Girls (1994)',
 417: 'Barcelona (1994)',
 418: 'Being Human (1993)',
 419: 'Beverly Hillbillies, The (1993)',
 420: 'Beverly Hills Cop III (1994)',
 421: 'Black Beauty (1994)',
 422: 'Blink (1994)',
 423: 'Blown Away (1994)',
 424: 'Blue Chips (1994)',
 425: 'Blue Sky (1994)',
 426: 'Body Snatchers (1993)',
 427: 'Boxing Helena (1993)',
 428: 'Bronx Tale, A (1993)',
 429: 'Cabin Boy (1994)',
 430: 'Calendar Girl (1993)',
 431: "Carlito's Way (1993)",
 432: "City Slickers II: The Legend of Curly's Gold (1994)",
 433: 'Clean Slate (1994)',
 434: 'Cliffhanger (1993)',
 435: 'Coneheads (1993)',
 436: 'Color of Night (1994)',
 437: 'Cops and Robbersons (1994)',
 438: 'Cowboy Way, The (1994)',
 440: 'Dave (1993)',
 441: 'Dazed and Confused (1993)',
 442: 'Demolition Man (1993)',
 444: 'Even Cowgirls Get the Blues (1993)',
 445: 'Fatal Instinct (1993)',
 446: 'Farewell My Concubine (Ba wang bie ji) (1993)',
 448: 'Fearless (1993)',
 449: 'Fear of a Black Hat (1994)',
 450: 'With Honors (1994)',
 451: 'Flesh and Bone (1993)',
 452: "Widows' Peak (1994)",
 453: 'For Love or Money (1993)',
 454: 'Firm, The (1993)',
 455: 'Free Willy (1993)',
 456: 'Fresh (1994)',
 457: 'Fugitive, The (1993)',
 458: 'Geronimo: An American Legend (1993)',
 459: 'Getaway, The (1994)',
 460: 'Getting Even with Dad (1994)',
 461: 'Go Fish (1994)',
 464: 'Hard Target (1993)',
 466: 'Hot Shots! Part Deux (1993)',
 467: 'Live Nude Girls (1995)',
 468: 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)',
 469: 'House of the Spirits, The (1993)',
 470: 'House Party 3 (1994)',
 471: 'Hudsucker Proxy, The (1994)',
 472: "I'll Do Anything (1994)",
 473: 'In the Army Now (1994)',
 474: 'In the Line of Fire (1993)',
 475: 'In the Name of the Father (1993)',
 476: 'Inkwell, The (1994)',
 477: "What's Love Got to Do with It? (1993)",
 478: 'Jimmy Hollywood (1994)',
 479: 'Judgment Night (1993)',
 480: 'Jurassic Park (1993)',
 481: 'Kalifornia (1993)',
 482: 'Killing Zoe (1994)',
 484: 'Lassie (1994)',
 485: 'Last Action Hero (1993)',
 486: 'Life with Mikey (1993)',
 487: 'Lightning Jack (1994)',
 488: 'M. Butterfly (1993)',
 489: 'Made in America (1993)',
 490: 'Malice (1993)',
 491: 'Man Without a Face, The (1993)',
 492: 'Manhattan Murder Mystery (1993)',
 493: 'Menace II Society (1993)',
 494: 'Executive Decision (1996)',
 495: 'In the Realm of the Senses (Ai no corrida) (1976)',
 496: 'What Happened Was... (1994)',
 497: 'Much Ado About Nothing (1993)',
 499: 'Mr. Wonderful (1993)',
 500: 'Mrs. Doubtfire (1993)',
 501: 'Naked (1993)',
 502: 'Next Karate Kid, The (1994)',
 504: 'No Escape (1994)',
 505: 'North (1994)',
 506: 'Orlando (1992)',
 507: 'Perfect World, A (1993)',
 508: 'Philadelphia (1993)',
 509: 'Piano, The (1993)',
 510: 'Poetic Justice (1993)',
 511: 'Program, The (1993)',
 512: 'Puppet Masters, The (1994)',
 513: 'Radioland Murders (1994)',
 514: 'Ref, The (1994)',
 515: 'Remains of the Day, The (1993)',
 516: 'Renaissance Man (1994)',
 517: 'Rising Sun (1993)',
 518: 'Road to Wellville, The (1994)',
 519: 'RoboCop 3 (1993)',
 520: 'Robin Hood: Men in Tights (1993)',
 521: 'Romeo Is Bleeding (1993)',
 522: 'Romper Stomper (1992)',
 523: 'Ruby in Paradise (1993)',
 524: 'Rudy (1993)',
 526: 'Savage Nights (Nuits fauves, Les) (1992)',
 527: "Schindler's List (1993)",
 528: 'Scout, The (1994)',
 529: 'Searching for Bobby Fischer (1993)',
 531: 'Secret Garden, The (1993)',
 532: 'Serial Mom (1994)',
 533: 'Shadow, The (1994)',
 534: 'Shadowlands (1993)',
 535: 'Short Cuts (1993)',
 536: 'Simple Twist of Fate, A (1994)',
 537: 'Sirens (1994)',
 538: 'Six Degrees of Separation (1993)',
 539: 'Sleepless in Seattle (1993)',
 540: 'Sliver (1993)',
 541: 'Blade Runner (1982)',
 542: 'Son in Law (1993)',
 543: 'So I Married an Axe Murderer (1993)',
 544: 'Striking Distance (1993)',
 546: 'Super Mario Bros. (1993)',
 547: 'Surviving the Game (1994)',
 548: 'Terminal Velocity (1994)',
 549: 'Thirty-Two Short Films About Glenn Gould (1993)',
 550: 'Threesome (1994)',
 551: 'Nightmare Before Christmas, The (1993)',
 552: 'Three Musketeers, The (1993)',
 553: 'Tombstone (1993)',
 555: 'True Romance (1993)',
 556: 'War Room, The (1993)',
 558: 'Pagemaster, The (1994)',
 562: 'Welcome to the Dollhouse (1995)',
 563: 'Germinal (1993)',
 564: 'Chasers (1994)',
 567: 'Kika (1993)',
 568: 'Bhaji on the Beach (1993)',
 569: 'Little Big League (1994)',
 573: 'Ciao, Professore! (Io speriamo che me la cavo) (1992)',
 574: 'Spanking the Monkey (1994)',
 575: 'Little Rascals, The (1994)',
 577: 'Andre (1994)',
 579: 'Escort, The (Scorta, La) (1993)',
 580: 'Princess Caraboo (1994)',
 581: 'Celluloid Closet, The (1995)',
 583: 'Dear Diary (Caro Diario) (1994)',
 585: 'Brady Bunch Movie, The (1995)',
 586: 'Home Alone (1990)',
 587: 'Ghost (1990)',
 588: 'Aladdin (1992)',
 589: 'Terminator 2: Judgment Day (1991)',
 590: 'Dances with Wolves (1990)',
 592: 'Batman (1989)',
 593: 'Silence of the Lambs, The (1991)',
 594: 'Snow White and the Seven Dwarfs (1937)',
 595: 'Beauty and the Beast (1991)',
 596: 'Pinocchio (1940)',
 597: 'Pretty Woman (1990)',
 599: 'Wild Bunch, The (1969)',
 600: 'Love and a .45 (1994)',
 602: 'Great Day in Harlem, A (1994)',
 605: 'One Fine Day (1996)',
 606: 'Candyman: Farewell to the Flesh (1995)',
 608: 'Fargo (1996)',
 609: 'Homeward Bound II: Lost in San Francisco (1996)',
 610: 'Heavy Metal (1981)',
 611: 'Hellraiser: Bloodline (1996)',
 612: 'Pallbearer, The (1996)',
 613: 'Jane Eyre (1996)',
 615: 'Bread and Chocolate (Pane e cioccolata) (1973)',
 616: 'Aristocats, The (1970)',
 617: 'Flower of My Secret, The (La flor de mi secreto) (1995)',
 618: 'Two Much (1995)',
 619: 'Ed (1996)',
 626: 'Thin Line Between Love and Hate, A (1996)',
 627: 'Last Supper, The (1995)',
 628: 'Primal Fear (1996)',
 631: 'All Dogs Go to Heaven 2 (1996)',
 632: 'Land and Freedom (Tierra y libertad) (1995)',
 633: 'Denise Calls Up (1995)',
 634: 'Theodore Rex (1995)',
 635: 'Family Thing, A (1996)',
 636: 'Frisk (1995)',
 637: 'Sgt. Bilko (1996)',
 638: 'Jack and Sarah (1995)',
 639: 'Girl 6 (1996)',
 640: 'Diabolique (1996)',
 645: 'Nelly & Monsieur Arnaud (1995)',
 647: 'Courage Under Fire (1996)',
 648: 'Mission: Impossible (1996)',
 649: 'Cold Fever (Á köldum klaka) (1995)',
 650: 'Moll Flanders (1996)',
 653: 'Dragonheart (1996)',
 656: 'Eddie (1996)',
 661: 'James and the Giant Peach (1996)',
 662: 'Fear (1996)',
 663: 'Kids in the Hall: Brain Candy (1996)',
 665: 'Underground (1995)',
 667: 'Bloodsport 2 (a.k.a. Bloodsport II: The Next Kumite) (1996)',
 668: 'Song of the Little Road (Pather Panchali) (1955)',
 670: 'World of Apu, The (Apur Sansar) (1959)',
 671: 'Mystery Science Theater 3000: The Movie (1996)',
 673: 'Space Jam (1996)',
 674: 'Barbarella (1968)',
 678: 'Some Folks Call It a Sling Blade (1993)',
 679: 'Run of the Country, The (1995)',
 680: 'Alphaville (Alphaville, une étrange aventure de Lemmy Caution) (1965)',
 685: "It's My Party (1996)",
 688: 'Operation Dumbo Drop (1995)',
 691: 'Mrs. Winterbourne (1996)',
 692: 'Solo (1996)',
 694: 'Substitute, The (1996)',
 695: 'True Crime (1996)',
 697: 'Feeling Minnesota (1996)',
 698: 'Delta of Venus (1995)',
 700: 'Angus (1995)',
 703: 'Boys (1996)',
 704: 'Quest, The (1996)',
 706: 'Sunset Park (1996)',
 707: 'Mulholland Falls (1996)',
 708: 'Truth About Cats & Dogs, The (1996)',
 709: 'Oliver & Company (1988)',
 710: 'Celtic Pride (1996)',
 711: 'Flipper (1996)',
 714: 'Dead Man (1995)',
 715: 'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)',
 718: 'Visitors, The (Visiteurs, Les) (1993)',
 719: 'Multiplicity (1996)',

## Part 1: User Input --> Find potential favorite movies

In [143]:
# getting the movie name from the user
movie_name = input(' Enter your favorite movie name: ')

 Enter your favorite movie name: tangled

In [64]:
movie_titles_ori = movies['title'].tolist()
movie_titles_no_year = [(lambda x: x.split('(')[0])(x) for x in movie_titles_ori]

In [65]:
movie_titles_no_year[0]

'Toy Story '

In [144]:
import difflib
close_matches = difflib.get_close_matches(movie_name, movie_titles_no_year)
closest_match = close_matches[0]
closest_match

'Tangled '

In [145]:
close_matches

['Tangled ', 'Strangeland ', 'Triangle ']

In [149]:
# the following filter doesn't work since it returns more than one value
movie_id = movies[movies['title'].str.contains(closest_match)]['movieId']
movie_id

7467     81847
8447    112006
Name: movieId, dtype: int64

In [155]:
# the right way:
movie_id = movies.iloc[movie_titles_no_year.index(closest_match)]['movieId']
movie_id

81847

In [158]:
movie_titles_no_year.index(closest_match)

7467

In [159]:
similar_ids = find_similar_movies(movie_id, X, k=10)
movie_title = movie_titles[movie_id]
  
print(f"Since you watched {movie_title}\n")
print(f"The movies that you might like are: \n")
for i in similar_ids:
    print(movie_titles[i])

Since you watched Tangled (2010)

The movies that you might like are:

Princess and the Frog, The (2009)
Brave (2012)
Frozen (2013)
Bolt (2008)
Ugly Truth, The (2009)
Legally Blonde 2: Red, White & Blonde (2003)
Despicable Me (2010)
Megamind (2010)
Ratatouille (2007)
Enchanted (2007)

In [160]:
similar_ids

[72737, 95167, 106696, 63859, 70183, 6535, 79091, 81564, 50872, 56152]

## Part 2: Given a user id, automatically find similar movies to recommend

In [93]:
# getting the user id
user_id = input(' Enter the user id: ')

 Enter the user id: 1

In [100]:
# find the ratings from the user
user_rating = ratings[ratings['userId'] == int(user_id)]
user_rating

     userId  movieId  rating  timestamp
0         1        1     4.0  964982703
1         1        3     4.0  964981247
2         1        6     4.0  964982224
3         1       47     5.0  964983815
4         1       50     5.0  964982931
..      ...      ...     ...        ...
227       1     3744     4.0  964980694
228       1     3793     5.0  964981855
229       1     3809     4.0  964981220
230       1     4006     4.0  964982903
231       1     5060     5.0  964984002

[232 rows x 4 columns]

In [104]:
# find out the favorite movies of the user
sorted_user_ratings = user_rating.sort_values(by = ['rating'], ascending = False)
sorted_user_ratings.head()

     userId  movieId  rating  timestamp
231       1     5060     5.0  964984002
185       1     2872     5.0  964981680
89        1     1291     5.0  964981909
90        1     1298     5.0  964984086
190       1     2948     5.0  964982191

In [116]:
# find the movies with the highest ratings

# first, find the highest rating from the user
highest_user_rating = sorted_user_ratings[:1].rating.tolist()[0]
highest_user_rating

5.0

In [119]:
# check highest rated movies
highest_rating_movies = sorted_user_ratings[sorted_user_ratings['rating'] == highest_user_rating].movieId.tolist()
highest_rating_movies[:5]

[5060, 2872, 1291, 1298, 2948]

In [120]:
len(highest_rating_movies)

124

In [164]:
# check the top 5 rated movies this user likes
i = 1
for movie_id in highest_rating_movies:
    if i < 6:
        print(movie_titles[movie_id])
        i += 1

M*A*S*H (a.k.a. MASH) (1970)
Excalibur (1981)
Indiana Jones and the Last Crusade (1989)
Pink Floyd: The Wall (1982)
From Russia with Love (1963)

In [165]:
# then we can use the same function above to create a list of similar movies
# notice that when there are more than one highest rating movie, we consider all possibilities and choose the movies 
# that the user is most likely to enjoy
if len(highest_rating_movies) == 1:
    movie_id = highest_rating_movies[0]
    similar_ids = find_similar_movies(movie_id, X, k = 10)
    movie_title = movie_titles[movie_id]

    print(f"Since you watched {movie_title}\n")
    print(f"The movies that you might like are: \n")
    for i in similar_ids:
        print(movie_titles[i])
else:
    i = 1
    similar_movies_all = []
    for movie_id in highest_rating_movies:
        if i < 6:
            print(f"One of the user's favorite movies is {movie_titles[movie_id]}\n")
            i += 1
        similar_ids = find_similar_movies(movie_id, X, k = 10)
        similar_movies_all = similar_movies_all + similar_ids
    final_movie_ids = [ele for ele, _ in Counter(similar_movies_all).most_common(10)]
    # if more precise, need to consider if the user has watched these movies
    print(f"The movies that you might like are: \n")
    for i in final_movie_ids:
        print(movie_titles[i])

One of the user's favorite movies is M*A*S*H (a.k.a. MASH) (1970)

One of the user's favorite movies is Excalibur (1981)

One of the user's favorite movies is Indiana Jones and the Last Crusade (1989)

One of the user's favorite movies is Pink Floyd: The Wall (1982)

One of the user's favorite movies is From Russia with Love (1963)

The movies that you might like are:

Indiana Jones and the Temple of Doom (1984)
Reservoir Dogs (1992)
Terminator, The (1984)
Star Wars: Episode VI - Return of the Jedi (1983)
Fight Club (1999)
RoboCop (1987)
Star Wars: Episode V - The Empire Strikes Back (1980)
Newton Boys, The (1998)
Who Framed Roger Rabbit? (1988)
Ferris Bueller's Day Off (1986)

In [166]:
# select the user id intentionally
user_freq.head()

   userId  n_ratings
0       1        232
1       2         29
2       3         39
3       4        216
4       5         44

In [170]:
user_freq.sort_values(by = 'n_ratings').head()

     userId  n_ratings
441     442         20
405     406         20
146     147         20
193     194         20
568     569         20

## Sum up: Movie Recommendation System

### Part 1: user input

In [161]:
# getting the movie name from the user
movie_name = input(' Enter your favorite movie name: ')

close_matches = difflib.get_close_matches(movie_name, movie_titles_no_year)
closest_match = close_matches[0]

movie_id = movies.iloc[movie_titles_no_year.index(closest_match)]['movieId']

similar_ids = find_similar_movies(movie_id, X, k=10)
movie_title = movie_titles[movie_id]
  
print(f"Since you watched {movie_title}\n")
print(f"The movies that you might like are: \n")
for i in similar_ids:
    print(movie_titles[i])

 Enter your favorite movie name: The Shawshank Redemption
Since you watched Shawshank Redemption, The (1994)

The movies that you might like are:

Forrest Gump (1994)
Pulp Fiction (1994)
Silence of the Lambs, The (1991)
Usual Suspects, The (1995)
Schindler's List (1993)
Fight Club (1999)
Braveheart (1995)
Matrix, The (1999)
Apollo 13 (1995)
Seven (a.k.a. Se7en) (1995)

### Part 2: given a user id (aka past behavior), recommend similar movies

In [172]:
# getting the user id
user_id = input(' Enter the user id: ')

user_rating = ratings[ratings['userId'] == int(user_id)]
sorted_user_ratings = user_rating.sort_values(by = ['rating'], ascending = False)
highest_user_rating = sorted_user_ratings[:1].rating.tolist()[0]
highest_rating_movies = sorted_user_ratings[sorted_user_ratings['rating'] == highest_user_rating].movieId.tolist()

if len(highest_rating_movies) == 1:
    movie_id = highest_rating_movies[0]
    similar_ids = find_similar_movies(movie_id, X, k = 10)
    movie_title = movie_titles[movie_id]

    print(f"Since the user likes {movie_title}\n")
    print(f"The movies that the user might like are: \n")
    for i in similar_ids:
        print(movie_titles[i])
else:
    i = 1
    similar_movies_all = []
    for movie_id in highest_rating_movies:
        if i < 6:
            print(f"One of the user's favorite movies is {movie_titles[movie_id]}\n")
            i += 1
        similar_ids = find_similar_movies(movie_id, X, k = 10)
        similar_movies_all = similar_movies_all + similar_ids
    final_movie_ids = [ele for ele, _ in Counter(similar_movies_all).most_common(10)]
    # if more precise, need to consider if the user has watched these movies
    print(f"The movies that you might like are: \n")
    for i in final_movie_ids:
        print(movie_titles[i])

 Enter the user id: 406
One of the user's favorite movies is 27 Dresses (2008)

One of the user's favorite movies is Sisterhood of the Traveling Pants, The (2005)

One of the user's favorite movies is Sweet Home Alabama (2002)

One of the user's favorite movies is Ever After: A Cinderella Story (1998)

The movies that you might like are:

Sweet Home Alabama (2002)
Penelope (2006)
Maid in Manhattan (2002)
Wedding Planner, The (2001)
Legally Blonde 2: Red, White & Blonde (2003)
Holiday, The (2006)
13 Going on 30 (2004)
Ugly Truth, The (2009)
Legally Blonde (2001)
Bewitched (2005)